<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Login</h2>
                        <%= form_for(:session, url: login_path) do |form| %>
              
                          <div class="field">
                            <%= form.text_field :email, placeholder: "email" %>
                          </div>

                          <div class="field">
                            <%= form.password_field :password, placeholder: "password" %>
                          </div>

                          <p id="notice"><%= notice %></p>

                          <div class="actions form-group form-button" >
                            <%= form.submit "Login", class: "form-submit" %>
                          </div>
                        <% end %>

                        </div>
                    <div class="signup-image">
                        <figure><%= image_tag 'signup-image.jpg' %></figure>
                        <%= link_to "New user? Sign up now!", new_user_path, class: "signup-image-link"%>
                    </div>
                </div>
            </div>
        </section>